* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.toggle {
  display: none;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}
.toggle span {
  position: absolute;
  width: 15px;
  height: 3px;
  background: #4285f4;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 12px;
  left: 10px;
}
.toggle span:nth-child(3) {
  transform: translateY(10px);
  width: 9px;
  left: 10px;
}
.toggle.active span:nth-child(1) {
  width: 15px;
  transform: translateY(0px) rotate(45deg);
}
.toggle.active span:nth-child(2) {
  transform: translateX(60px);
}
.toggle.active span:nth-child(3) {
  width: 15px;
  transform: translateY(0px) rotate(315deg);
}
.pattern {
  position: absolute;
}
.pattern.left {
  bottom: 0;
}
.pattern.right {
  right: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 75px;
}
header a {
  color: #000;
}
.left-side-menu {
  display: flex;
}
.logo {
  display: flex;
  gap: 9px;
  margin-top: 3px;
  cursor: pointer;
}
.logo img {
  width: 23px;
  height: 11px;
  margin-top: 6px;
}
.logo-title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "TT-Hoves-Medium";
}
.menu {
  margin-left: 70px;
}
.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
  font-family: "TT-Hoves-Regular";
  font-weight: 500;
  line-height: 30.49px;
}
ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scale(0);
  transition: all 0.2s;
}
ul li:hover a::after {
  transform: scale(1);
}
.qr-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr {
  width: 196px;
  height: 196px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 50px;
}
.qrcode {
  position: absolute;
}
.qr-gdsc-logo {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 64px;
  top: 64px;
}
.qrcode-registration-title {
  font-family: "TT-Hoves-Medium";
  font-size: 32px;
  margin-bottom: 25px;
}
.qr-wrapper ol {
  font-family: "TT-Hoves-Regular";
  font-size: 18px;
  margin-bottom: 40px;
}
.qr-wrapper p {
  font-family: "TT-Hoves-Regular";
  font-size: 14px;
  margin-bottom: 13px;
  text-align: center;
}
.direct-link {
  color: #4285f4;
}
.log-in {
  color: #1fa363;
}
@media (max-width: 992px) {
  .pattern.right {
    height: 140px;
    bottom: 0;
  }
  .pattern.left {
    height: 140px;
  }
}
@media (max-width: 768px) {
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    display: block;
    padding: 10px 10px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    position: fixed;
    transform: translateX(-300px);
    transition: 0.5s;
  }
  header.active {
    transform: translateX(0px);
  }
  .left-side-menu {
    display: block;
  }
  .logo {
    display: none;
  }
  .menu {
    margin-left: 0;
  }
  .menu-list {
    display: block;
  }
  .qr {
    margin-top: 130px;
    margin-bottom: 30px;
  }
  .qrcode-registration-title {
    font-size: 26px;
    max-width: 345px;
    text-align: center;
    line-height: 132.3%;
  }
  .qr-wrapper ol {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .qr-wrapper p {
    font-family: "TT-Hoves-Regular";
    font-size: 12px;
    margin-bottom: 13px;
    text-align: center;
  }
  .direct-link {
    color: #4285f4;
  }
  .log-in {
    color: #1fa363;
  }
}
