* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
.toggle {
  display: none;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}
.toggle span {
  position: absolute;
  width: 15px;
  height: 3px;
  background: #4285f4;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 12px;
  left: 10px;
}
.toggle span:nth-child(3) {
  transform: translateY(10px);
  width: 9px;
  left: 10px;
}
.toggle.active span:nth-child(1) {
  width: 15px;
  transform: translateY(0px) rotate(45deg);
}
.toggle.active span:nth-child(2) {
  transform: translateX(60px);
}
.toggle.active span:nth-child(3) {
  width: 15px;
  transform: translateY(0px) rotate(315deg);
}
.right-img {
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
}
.right-gdsc-logo {
  position: absolute;
  top: 35%;
  right: 23%;
  width: 115px;
  height: 115px;
}
.gdsc-title {
  color: #fff;
  font-family: "TT-Hoves-Medium";
  position: absolute;
  top: 50%;
  right: 21.3%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 75px;
}
header a {
  color: #000;
}
.left-side-menu {
  display: flex;
}
.logo {
  display: flex;
  gap: 20px;
  margin-top: 3px;
  cursor: pointer;
}
.logo img {
  width: 41px;
  height: 41px;
  margin-top: -8px;
}
.logo-title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "TT-Hoves-Medium";
}
.menu {
  display: none;
  margin-left: 30px;
}
.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
  font-family: "TT-Hoves-Regular";
  font-weight: 500;
  line-height: 30.49px;
}
ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scale(0);
  transition: all 0.2s;
}
ul li:hover a::after {
  transform: scale(1);
}
.google-account-btn {
  position: relative;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-account-btn p {
  margin-left: 10px;
  font-family: "TT-Hoves-Regular";
}
.outlook-account-btn {
  display: none;
  position: relative;
  width: 100%;
  height: 46px;
  background-color: #f4f6fa;
  border-radius: 6px;
  border: 0;
  justify-content: center;
  align-items: center;
}
.outlook-account-btn p {
  font-size: 16px;
  margin-left: 10px;
  font-family: "TT-Hoves-Medium";
}
.outlook-icon {
  position: absolute;
  left: 10px;
}

.or-line p {
  position: absolute;
  left: 29px;
}
.signup-form {
  width: 320px;
  height: 420px;
  margin-left: 135px;
  margin-top: 90px;
}
.signup-title {
  font-family: "TT-Hoves-Demibold";
  font-size: 26px;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}
.signup-subtitle {
  font-family: "TT-Hoves-Regular";
  font-size: 16px;
  color: #6d6f7a;
  margin-bottom: 35px;
  letter-spacing: 0.015em;
}
form label {
  display: flex;
  margin-top: 20px;
  font-family: "TT-Hoves-Regular";
  font-size: 16px;
  margin-bottom: 7px;
}
form input {
  width: 100%;
  height: 40px;
  padding: 7px 10px;
  border: 1px solid #f0f2f4;
  margin-left: 2px;
  border-radius: 9px;
  outline: none;
}

.login {
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
  margin-top: 30px;
}
input:focus {
  border: 1px solid #000;
}
.login-form input:focus {
  border: none;
  border-bottom: 1px solid #000;
}
.checkbox-container {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 13px;
  font-family: "TT-Hoves-Regular";
}
.checkbox-container a {
  color: #000;
  text-decoration: underline;
}

.checkbox-left {
  display: flex;
}
.remember {
  font-size: 13px;
  margin-left: 5px;
}
.checkbox-right {
}
.checkbox {
  width: 13px;
  height: 13px;
}
form button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  margin-top: 40px;
  border-radius: 5px;
  margin-bottom: 12px;
  cursor: pointer;
}

form p {
  font-family: "TT-Hoves-Regular";
  font-size: 16px;
  text-align: center;
}
p a {
  color: #000;
}
.gdsc-left-bottom {
  position: absolute;
  bottom: 7px;
  left: 30px;
  color: #8d8d8d;
  font-family: "TT-Hoves-Regular";
}
.gdsc-left-bottom-right {
  position: absolute;
  bottom: 7px;
  left: 230px;
  color: #8d8d8d;
  font-family: "TT-Hoves-Regular";
}
@media (max-width: 1020px) {
  .right {
    display: none;
  }
  .signup-form {
    display: block;
    margin: 0 auto;
  }
  .outlook-account-btn {
    display: flex;
  }
  form label {
    color: #b8c0c6;
  }
}
@media (max-width: 768px) {
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    gap: 20px;
    margin-top: 3px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .logo img {
    width: 41px;
    height: 41px;
    margin-top: -8px;
  }
  .logo-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "TT-Hoves-Medium";
  }
  header {
    display: block;
    padding: 10px 10px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    position: fixed;
    transform: translateX(-300px);
    transition: 0.5s;
  }
  header.active {
    transform: translateX(0px);
  }
  .left-side-menu{
    display: block;
  }
  .menu {
    display: block;
    margin-left: 0;
  }
  .menu-list {
    display: block;
  }
  .signup-form {
    width: 255px;
    padding-top: 110px;
  }
  .signup-title {
    font-family: "TT-Hoves-Medium";
    font-size: 22px;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
  }
  .signup-subtitle {
    font-family: "TT-Hoves-Regular";
    font-size: 13px;
    color: #6d6f7a;
    margin-bottom: 35px;
    letter-spacing: 0.015em;
  }
  
  form label {
    margin-top: 15px;
    font-family: "TT-Hoves-Regular";
    font-size: 14px;
    margin-bottom: 7px;
  }
  form input {
    width: 100%;
    height: 40px;
    padding: 7px 10px;
    border: none;
    border-bottom: 1.5px solid #ABABAB;
    margin-left: 2px;
    border-radius: 0px;
    outline: none;
  }
  form button {
    width: 100%;
    height: 40px;
    background-color: #6D9BE9;
    border: none;
    color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  form p{
    font-size: 12px;
  }
  form p a{
    color: #6D9BE9;
  }
  .gdsc-left-bottom, .gdsc-left-bottom-right{
    display: none;
  }
}
