* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f5f7;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #4285f4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.swiper {
  display: flex;
  max-width: 1100px;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toggle {
  display: none;
  position: absolute;
  z-index: 1;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}
.toggle span {
  position: absolute;
  width: 15px;
  height: 3px;
  background: #4285f4;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 12px;
  left: 10px;
}
.toggle span:nth-child(3) {
  transform: translateY(10px);
  width: 9px;
  left: 10px;
}
.toggle.active span:nth-child(1) {
  width: 15px;
  transform: translateY(0px) rotate(45deg);
}
.toggle.active span:nth-child(2) {
  transform: translateX(60px);
}
.toggle.active span:nth-child(3) {
  width: 15px;
  transform: translateY(0px) rotate(315deg);
}
.left-line-pattern {
  position: absolute;
  top: 700px;
  z-index: -100;
}
.right-line-pattern {
  position: absolute;
  right: 0;
  top: 1020px;
  z-index: -100;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 75px;
}
header a {
  color: #000;
}
.left-side-menu {
  display: flex;
}
.logo {
  display: flex;
  gap: 9px;
  margin-top: 3px;
  cursor: pointer;
}
.logo img {
  width: 23px;
  height: 11px;
  margin-top: 6px;
}
.logo-title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "TT-Hoves-Medium";
}
.menu {
  margin-left: 70px;
}
.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
  font-family: "TT-Hoves-Regular";
  font-weight: 500;
  line-height: 30.49px;
}
.fa-users,
.fa-message,
.fa-briefcase {
  display: none;
}
.signup-button {
  width: 90px;
  height: 35px;
  background-color: #4285f4;
  border-radius: 6px;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.signup-qr-button {
  width: 90px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}
.signup-qr-button:hover {
  opacity: 0.7;
}
.signup-button:hover {
  opacity: 0.9;
}
ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scale(0);
  transition: all 0.2s;
}
ul li:hover a::after {
  transform: scale(1);
}
.members-list {
  display: flex;
  gap: 17px;
  font-size: 16px;
  font-family: "TT-Hoves-Regular";
  line-height: 30.49px;
}
.wrappers {
  display: flex;
  margin-bottom: 300px;
  width: 100%;
}
.left-wrapper {
  padding: 180px 100px;
}
.left-wrapper-title {
  max-width: 390px;
  font-size: 40px;
  font-family: "TT-Hoves-Medium";
  line-height: 50px;
  margin-bottom: 23px;
}
.left-wrapper-subtitle {
  font-size: 14px;
  font-family: "TT-Hoves-Regular";
  max-width: 299px;
  line-height: 18.52px;
  margin-bottom: 14px;
}
.left-wrapper-find {
  font-size: 16px;
  font-family: "TT-Hoves-Regular";
}
.left-wrapper-find.button {
  display: none;
}
.download-icon {
  position: relative;
  top: 10px;
  left: 5px;
  cursor: pointer;
}
.download-icon:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
.ellipse {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
}
.ellipse.green {
  top: 700px;
  right: 350px;
  background-color: #0f9d58;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
.ellipse.red {
  top: 250px;
  right: 600px;
  background-color: #db4437;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
.ellipse.yellow {
  top: 680px;
  right: 550px;
  background-color: #f4b400;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
.ellipse.yellow2 {
  top: 450px;
  right: 80px;
  background-color: #f4b400;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
.ellipse.red2 {
  top: 630px;
  right: 120px;
  background-color: #db4437;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
.ellipse.green2 {
  top: 400px;
  right: 670px;
  background-color: #0f9d58;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}

.ellipse.blue {
  top: 200px;
  right: 150px;
  background-color: #4285f4;
  animation: ellipse 12s infinite linear;
  /* transform-origin: 50% 200px; */
}
.ellipse.blue2 {
  top: 600px;
  right: 690px;
  background-color: #4285f4;
  animation: ellipse 12s infinite linear;
  transform-origin: 50% 200px;
}
/* @keyframes ellipse{
  
  0%{
    right: 350px;
    top: 200px;
  }
  50%{
    right: 500px;
    top: 250px;
  }
  100%{
    right: 350px;
    top: 200px;
  }
} */
.right-wrapper {
  position: relative;
}

.right-wrap-logo {
  position: absolute;
  z-index: 3;
  width: 400px;
  height: 400px;
  right: 200px;
  top: 270px;
}
.google-man {
  cursor: pointer;
}
.google-man:hover {
}
.google-man-img {
  position: absolute;
  top: 70px;
  right: 268px;
  width: 275px;
  height: 275px;
}
.google-man-lefteye {
  position: absolute;
  top: 153px;
  right: 418px;
}
.google-man-righteye {
  position: absolute;
  top: 155px;
  right: 374px;
}

/* .circle-around-element {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  text-align: center;
  background-color: #4285f4;
  border-radius: 50%;
  animation: spin 5s infinite linear;
} */
/* @keyframes spin {
  from {
    transform: rotate(0turn) translateY(50%) rotate(1turn);
  }
  to {
    transform: rotate(1turn) translateY(50%) rotate(0turn);
  }
}; */
.big-logo {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  z-index: 100;
}
.mission-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.mission-block-title {
  font-family: "TT-Hoves-Regular";
  max-width: 601px;
  text-align: center;
  line-height: 1.4;
}
.mission-block-subtitle {
  font-family: "TT-Hoves-Light";
  max-width: 684px;
  text-align: center;
  line-height: 1.4;
}
.majors {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
.majors-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.majors-img p {
  text-align: center;
  font-family: "TT-Hoves-Light";
  font-size: 14px;
}
.nothing-workshop {
  display: none;
}
.nothing-workshop i {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 11px;
  top: 11px;
}
.workshop-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}
.workshop {
  width: 245px;
  height: 613px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.workshop:hover {
  border: 1px solid #4285f4;
}
.workshop-most-popular {
  position: relative;
}
.most-popular {
  position: absolute;
  top: -20px;
  width: 240px;
  height: 20px;
  background-color: rgba(66, 133, 244, 0.35);
}
.most-popular-text {
  text-align: center;
  color: #4285f4;
  font-family: "TT-Hoves-Light";
  font-size: 10px;
  padding-top: 3px;
}
.workshop-name {
  font-size: 20px;
  font-family: "TT-Hoves-Regular";
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.workshop-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.workshop-subscribe-btn {
  display: block;
  margin: 0 auto;
  padding: 11px 25px;
  background-color: transparent;
  border: 0.5px solid #dedede;
  cursor: pointer;
  margin-bottom: 30px;
}
.workshop-subscribe-btn:hover {
  background-color: #4285f4;
  color: #fff;
}
.workshop-description-textlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workshop-description-text {
  display: flex;
  justify-content: center !important;
  gap: 10px;
  margin-bottom: 15px;
}
.description-text {
  font-family: "TT-Hoves-Light";
  font-size: 12px;
  max-width: 170px;
}
.fa-check {
  color: #4285f4;
}
.core-team {
}
.core-team-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.core-team-title-text {
  position: absolute;
  font-family: "TT-Hoves-Medium";
}
.slide-content {
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  overflow: visible;
}
.core-team-members {
}
.core-team-member {
  display: flex;
  justify-content: center;
}
.swiper .member {
}
.member-name {
  font-family: "TT-Hoves-Light";
  font-size: 22px;
}
.core-team-members p {
  font-family: "TT-Hoves-Light";
  font-size: 12px;
}
.member-block {
  position: relative;
  width: 244px;
  height: 244px;
  min-width: 0;
  overflow: visible;
}
.member-img {
  position: absolute;
  width: 254px;
  top: -43px;
  right: 0.2px;
}
.member-position {
  color: #6098f4;
}
.member-doing {
  max-width: 244px;
}
footer {
  position: relative;
  height: 200px;
  background-color: #000;
  color: #fff;
  font-family: "TT-Hoves-Light";
  margin-top: 100px;
}
.footer-left-gdsc {
  padding: 55px 40px;
}
.fa-brands {
  color: #98a2b3;
  font-size: 18px;
}
.footer-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 55px 90px;
  display: flex;
  gap: 25px;
}
.brands {
  display: flex;
  gap: 10px;
}
.pagination-button-next {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4285f4;
  position: absolute;
  right: 105px;
  top: 40%;
  cursor: pointer;
  z-index: 100;
}
.pagination-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4285f4;
  position: absolute;
  left: 105px;
  top: 40%;
  cursor: pointer;
  z-index: 100;
}

.pagination i {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 11px;
  top: 11px;
}

.pagination-button-next:hover,
.pagination-button-prev:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .swiper {
    max-width: 350px;
    min-height: 290px;
  }
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    position: fixed;
    justify-content: unset;
    gap: 50px;
    transform: translateX(-300px);
    transition: 0.5s;
    overflow: hidden;
  }
  header.active {
    transform: translateX(0px);
  }
  .logo {
    display: flex;
    padding-bottom: 20px;
    padding-left: 7px;
  }
  .logo h1{
    padding-left: 2px;
    padding-top: 12px;
  }
  .logo img{
    width: 35px;
    height: 35px;
  }
  .menu {
    margin-left: 0;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
  }
  .menu-item {
    display: flex;
  }
  .left-side-menu {
    display: block;
  }
  .fa-users,
  .fa-message,
  .fa-briefcase {
    display: block;
    position: relative;
    font-size: 20px;
    top: 8px;
    left: 4.7px;
    color: #fff;
  }
  .menu-item span a {
    padding-left: 10px;
    margin-top:10px;
  }
  header ul li {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 8px solid transparent;
  }

  .menu-item.active {
    transform: translateX(30px);
    background-color: #f3f5f7;
  }
  .menu-item .icon-span {
    background-color: #0F9D58;
    width: 35px;
    height: 35px;
    border-radius: 5px;

  }
  ul li:hover a::after {
    transform: scale(0);
  }
  .members-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .members-list li button{
    width: 200px;
  }
  .members-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrappers {
    margin-bottom: 70px;
    padding-top: 200px;
    display: block;
  }
  .left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .left-wrapper-title {
    font-size: 26px;
    line-height: 31px;
    max-width: 280px;
  }
  .left-wrapper-find {
    display: none;
  }
  .left-wrapper-find.button {
    display: block;
    width: 92px;
    height: 30px;
    font-size: 11px;
    border: none;
    background-color: #1fa363;
    color: #fff;
    cursor: pointer;
  }
  .left-wrapper-find.button:hover {
    opacity: 0.7;
  }
  .download-icon {
    display: none;
  }
  .mission-block {
    gap: 30px;
    margin-bottom: 50px;
  }
  .mission-block-title {
    max-width: 287px;
    font-size: 26px;
    line-height: 34px;
  }
  .mission-block-subtitle {
    max-width: 287px;
    font-size: 12px;
  }

  .majors {
    gap: 8px;
    max-width: 190px;
  }
  .majors img {
    max-width: 25px;
    max-height: 25px;
  }
  .majors-img p {
    font-size: 10px;
  }
  .nothing-workshop {
    display: block;
  }
  .workshop-list {
    margin-bottom: 60px;
  }
  .workshop {
    width: 134px !important;
    height: 342px;
  }
  .workshop-name {
    font-size: 14px;
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .workshop-img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
  }
  .workshop-subscribe-btn {
    padding: 0;
    width: 49px;
    height: 17px;
    margin-bottom: 30px;
    font-size: 6px;
  }
  .workshop-description-text {
    gap: 5px;
    margin-bottom: 12px;
  }
  .description-text {
    font-family: "TT-Hoves-Light";
    font-size: 6px;
    max-width: 100px;
  }

  .core-team-title {
    margin-bottom: 0;
  }
  .core-team-title-text {
    font-size: 26px;
  }
  .core-team-title-bg {
    width: 228px;
    height: 90px;
  }
  .fa-check {
    font-size: 6px;
  }
  .pagination-button-next {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #4285f4;
    position: absolute;
    right: 0px;
    top: 45%;
    cursor: pointer;
    z-index: 100;
  }
  .pagination-button-prev {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #4285f4;
    position: absolute;
    left: 0px;
    top: 45%;
    cursor: pointer;
    z-index: 100;
  }
  .pagination i {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 7px;
  }
  .member-block {
    position: relative;
    width: 101.41px;
    height: 101.41px;
    min-width: 0;
    overflow: visible;
  }
  .member-img {
    position: absolute;
    width: 105.55px;
    height: 119px;
    top: -17px;
    right: 0.2px;
  }
  .member-name {
    font-family: "TT-Hoves-Light";
    font-size: 14px;
  }
  .member-position {
    font-size: 8px !important;
  }
  .member-doing {
    font-size: 6px !important;
    max-width: 83px;
  }
  footer {
    position: relative;
    height: 100px;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    font-family: "TT-Hoves-Light";
  }
  .footer-left-gdsc {
    padding: 30px 16px;
    font-size: 10px;
  }
  .fa-brands {
    color: #fff;
    font-size: 11px;
  }
  .footer-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 30px;
    display: flex;
    gap: 13px;
    font-size: 10px;
  }
  .brands {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .wrappers {
    margin-bottom: 0px;
    margin-top: 300px;
  }
  .left-wrapper {
    text-align: center;
    margin: 0 auto;
  }
  /* .eclipses{
    position: relative;
    width: 500px;
    height: 500px;
  } */
  .ellipse {
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 50%;
    animation: eclipse 2s infinite linear;
  }

  /* @keyframes eclipse{
    from {
      transform: rotate(0turn)
      translateY(-250px) translateY(50%)
      rotate(1turn)
    }
    to {
      transform: rotate(1turn)
      translateY(-250px) translateY(50%)
      rotate(0turn)
    }
    
  } */
  .ellipse.green {
    top: 600px;
    right: 350px;
    background-color: #0f9d58;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .ellipse.red {
    top: 150px;
    right: 700px;
    background-color: #db4437;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .ellipse.yellow {
    top: 650px;
    right: 550px;
    background-color: #f4b400;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .ellipse.yellow2 {
    top: 390px;
    right: 120px;
    background-color: #f4b400;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .ellipse.red2 {
    top: 500px;
    right: 200px;
    background-color: #db4437;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .ellipse.green2 {
    top: 300px;
    right: 730px;
    background-color: #0f9d58;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }

  .ellipse.blue {
    top: 200px;
    right: 150px;
    background-color: #4285f4;
    animation: ellipse 12s infinite linear;
    /* transform-origin: 50% 200px; */
  }
  .ellipse.blue2 {
    top: 500px;
    right: 640px;
    background-color: #4285f4;
    animation: ellipse 12s infinite linear;
    transform-origin: 50% 200px;
  }
  .right-wrapper {
    position: relative;
    top: 70px;
  }

  .right-wrap-logo {
    z-index: 3;
    width: 350px;
    height: 350px;
    position: relative;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -30px;
    text-align: center;
  }
  .google-man {
    cursor: pointer;
  }
  .google-man:hover {
  }
  .google-man-img {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 30px;
    right: 0;
    width: 225px;
    height: 225px;
  }
  .google-man-lefteye {
    display: none;
  }
  .google-man-righteye {
    display: none;
  }
  .left-wrapper {
    padding-top: 100px;
  }
}
